body {
    background: linear-gradient(to right, #3333cc, #ff99ff);  /* Adjust colors as needed */
    display: flex; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically and horizontally */
    min-height: 100vh; /* Set minimum height for full viewport coverage */
    font-family: sans-serif; /* Choose a suitable font */
    margin: 0; /* Remove default margin */
  }
  
  .converter { /* Style the converter section */
    background-color: rgba(212, 215, 230, 0.8); /* White background with some transparency */
    border-radius: 10px; /* Rounded corners for a smoother look */
    padding: 30px;
  }
  